@import "tailwindcss";

@keyframes fill {
  0% {
    width: 0%;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@font-face {
  font-family: Swanesa;
  src: url("../fonts/swansea-font/Swansea-q3pd.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Swanesa, Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
